.news .media {
    border-bottom: 1px solid #9e9e9e
}

.news .media img {
    width: 5rem
}

h1{
    align-items: center;
    justify-content: center;
    display: flex;
}

.researches li,
.studies li {
    margin-top: 1.2rem
}

/* Exercise 3 - Skip Links */
.link-skip{
    display: block;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden; 
	clip: rect(0, 0, 0, 0);
	border: 0;
  background: #000;
  color: #fff;
}

/* Exercise 3 - Skip Links */
.link-skip:focus   {
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }

  /* .font-increase-button{
    display: block !important;
  } */